<template>
  <v-container>
    <v-row>
      <v-col cols="2"
        ><v-list color="transparent">
          <v-list-item
            link
            v-for="(contest, index) in contests"
            :key="contest.id"
            @click="selectContest(index)"
            ><v-list-item-content
              ><v-list-item-title>
                {{ contest.name }}
              </v-list-item-title></v-list-item-content
            ></v-list-item
          >
        </v-list>
      </v-col>
      <v-col>
        <v-sheet>
          <v-col
            ><v-card>
              <v-card-title v-text="selectedContest.name"></v-card-title>
              <v-list>
                <v-list-item>
                  <v-list-item-content>Entries</v-list-item-content>
                  <v-list-item-action>{{
                    selectedContest.entries
                  }}</v-list-item-action>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>Entry Fee</v-list-item-content>
                  <v-list-item-action
                    >$ {{ selectedContest.cost }}</v-list-item-action
                  >
                </v-list-item>
              </v-list>
            </v-card></v-col
          >
          <v-col>
            <v-card
              ><v-card-title>Payout Structure</v-card-title>
              <v-list dense>
                <v-list-item
                  v-for="tier in selectedContest.tiers"
                  :key="tier.rank"
                >
                  <v-list-item-content>{{ tier.rank }}</v-list-item-content>
                  <v-list-item-action>$ {{ tier.payout }}</v-list-item-action>
                </v-list-item>
              </v-list>
            </v-card></v-col
          >
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";
import { Contest } from "@/models/contests";
import type { ActionMethod } from "vuex";

const contests = namespace("contests");

@Component({
  components: {
  }
})
export default class Contests extends Vue {
  @contests.Action loadContests!: ActionMethod;
  @contests.State contests!: Array<Contest>;

  index = 0;

  get selectedContest() {
    return this.contests[this.index];

  }

  selectContest(index: number) {
    this.index = index;
  }

  mounted() {
    this.loadContests();
  }

}
</script>
