<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                label="Picker in menu"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              :allowed-dates="dateAllowed"
              no-title
              scrollable
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">
                Cancel
              </v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <v-btn outlined @click="incrDate(-1)">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-btn outlined @click="incrDate(1)">
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-sheet>
      </v-col>

      <v-col>
        <v-sheet min-height="70vh" rounded="lg">
          <v-tabs v-model="tab">
            <v-tabs-slider></v-tabs-slider>
            <v-tab href="#results">Results</v-tab>
            <v-tab href="#lineups">Lineups</v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item value="results">
              <GameResultsTable></GameResultsTable>
            </v-tab-item>
            <v-tab-item value="lineups">
              <GameLineups></GameLineups>
            </v-tab-item>
          </v-tabs-items>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import GameResultsTable from "@/components/GameResultsTable.vue"
import GameLineups from "@/components/GameLineups.vue"
import { namespace } from "vuex-class";
import type { ActionMethod } from "vuex";

const games = namespace("games");

// interface Route {
//   params: { [key: string]:string };
// }

@Component({
  components: {
    GameResultsTable,
    GameLineups
  }
})
export default class Games extends Vue {
  @games.Action loadAllowedDates!: ActionMethod;
  @games.State allowedDates!: Array<string>;
  @games.State('date') loadedDate!: string;
  @games.Action loadResults!: ActionMethod;
  @games.Action loadLineups!: ActionMethod;

  // Variables to control this shit
  menu = false;
  tab = null;


  dateAllowed(date: string): boolean {
    return this.allowedDates.includes(date);
  }

  get date(): string {
    return this.loadedDate;
  }

  set date(value: string) {
    this.$router.push({name: "Games", params: { date: value }});
    // this.loadResults({date: value});
    // this.loadLineups({ date: value });
  }

  incrDate(value: number) {
    const currDate = new Date(this.date);
    currDate.setDate(currDate.getDate() + value)

    this.date = currDate.toISOString().substr(0, 10);
  }

  @Watch('$route')
  onRouteChanged() {
    const date = this.$route.params.date;
    this.loadResults({ date: date });
    this.loadLineups({ date: date });
  }


  mounted() {
    this.loadAllowedDates();
    const date = this.$route.params.date;

    this.loadResults({ date: date }).then(() => {
      if(!this.$route.params.date) {
        this.$router.replace({name: "Games", params: { date: this.loadedDate}});
      }
    });
    this.loadLineups({ date: date });
  }
}
</script>
