<template>
  <v-container>
    <v-row>
      <v-col width="3" align-self="center"
        ><div class="text-h1" align="center">
          <div class="text-h5">{{ selectedSeason.season }} Balance</div>
          $ {{ selectedSeason.balance }}
        </div></v-col
      >
      <v-col align-self="center">
        <highcharts :options="chartOptions"></highcharts>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-sheet min-height="60vh" rounded="lg">
          <v-data-table
            :headers="headers"
            :items="seasons"
            hide-default-footer
            v-on:click:row="entryClicked"
          >
            <template v-slot:item.detail="row">
              <v-btn @click.stop="detailClicked(row.item)" text color="primary"
                >Detail</v-btn
              >
            </template>
          </v-data-table>
        </v-sheet>
      </v-col>
    </v-row>
    <v-dialog v-model="show" max-width="50vw">
      <v-data-table :headers="subheaders" :items="selectedSeason.lineups">
        <template v-slot:item.date="row">
          <v-btn
            :to="{ name: 'Games', params: { date: row.item.date } }"
            text
            color="primary"
          >
            {{ row.item.date }}
          </v-btn>
        </template>
      </v-data-table>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import { Season } from "@/models/home";
import type { ActionMethod } from "vuex";

@Component({
  components: {
  },
})
export default class Home extends Vue {
  @State seasons!: Array<Season>;
  @Action loadSeasons!: ActionMethod;

  headers = [
    { text: "Season", value: "season" },
    { text: "# Lineups", value: "count" },
    { text: "Cashed Out", value: "percent"},
    { text: "Balance", value: "balance" },
    { text: "Detail", value: "detail", sortable: false },
  ];

  subheaders = [
    { text: "Date", value: "date" },
    { text: "Expected", value: "expected" },
    { text: "Score", value: "actual" },
    { text: "Cost", value: "cost" },
    { text: "Won", value: "won" },
  ];

  get currentSeason(): Season {
    return this.seasons[0];
  }

  get selectedSeason(): Season {
    return this.seasons[this.selectedSeasonIdx];

  }

  show = false;
  selectedSeasonIdx = 0;


  get lineData() {
    return this.selectedSeason.lineups.map((l) => l.cumulative).reverse();
  }

  get chartOptions() {
    return {
      chart: {
        type: "area",
      },
      title: {
        text: "Cumulative Winnings",
      },
      series: [
        {
          color: "orange",
          name: "Balance",
          data: this.lineData,
        }
      ],
    }
  }

  detailClicked(item: Season) {
    this.entryClicked(item);
    this.show = true;
  }

  entryClicked(item: Season) {
    for (let i = 0; i < this.seasons.length; i++) {
      if(this.seasons[i].season == item.season ) {
        this.selectedSeasonIdx = i;
        break;
      }

    }
  }

  mounted() {
    this.loadSeasons();
  }
}
</script>
