<template>
  <v-container>
    <v-data-iterator :items="models">
      <template v-slot:default="props">
        <v-row>
          <v-col v-for="model in props.items" :key="model.id" cols="6">
            <ModelCard :model="model"></ModelCard>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";
import { ModelInfo, ModelStats } from "@/models/models";
import ModelCard from "@/components/ModelCard.vue"
import type { ActionMethod } from "vuex";

const models = namespace("models");

@Component({
  components: {
    ModelCard,
  }
})
export default class Models extends Vue {
  @models.Action loadModels!: ActionMethod;
  @models.State models!: Array<ModelInfo>;

  mounted() {
    this.loadModels();
  }

}
</script>
