<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <v-list color="transparent">
            <v-list-item
              v-for="link in sidebar_links"
              :key="link.title"
              link
              :to="link.route"
            >
              <v-list-item-content>
                <v-list-item-title> {{ link.title }} </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-col>

      <v-col cols="7">
        <MatchMissingDialog
          v-model="dialog"
          :name="matching.name"
          :nbaid="matching.nbaid"
        ></MatchMissingDialog>
        <v-sheet min-height="70vh" rounded="lg">
          <v-list>
            <v-list-item v-for="player in missingPlayers" :key="player.nbaid">
              <v-list-item-title>
                {{ player.name }}
              </v-list-item-title>
              <v-list-item-subtitle>
                <v-chip color="red" v-if="player.nbaid">NBA</v-chip>
                <v-chip color="blue" v-if="player.fanduelId">Fanduel</v-chip>
              </v-list-item-subtitle>
              <v-list-item-action>
                <ApolloMutation
                  :mutation="require('../graphql/promote-missing.gql')"
                  :variables="{ gid: player.gid }"
                  @done="loadMissing"
                >
                  <template v-slot="{ mutate, loading, error }">
                    <v-icon
                      v-if="!loading && !error"
                      color="primary"
                      @click="mutate()"
                      >mdi-check-outline</v-icon
                    >
                    <v-progress-circular
                      v-if="loading"
                      indeterminate
                      color="primary"
                    ></v-progress-circular>
                    <v-icon color="red" v-if="error"
                      >alert-circle-outline</v-icon
                    >
                  </template>
                </ApolloMutation>
                <!-- <v-icon color="primary">mdi-check-outline</v-icon> -->
              </v-list-item-action>
              <v-list-item-icon>
                <v-icon @click.stop="playerClicked(player)" color="primary"
                  >mdi-swap-horizontal</v-icon
                >
              </v-list-item-icon>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MatchMissingDialog from "../components/MatchMissingDialog.vue";
import { State, Action } from "vuex-class";
import { RootState } from "@/store/types";

@Component({
  components: {
    MatchMissingDialog,
  },
})
export default class Players extends Vue {
  dialog = false;

  matching: {
    nbaid: number;
    name: string;
  } = {
    nbaid: -1,
    name: "",
  };

  sidebar_links = [
    {
      title: "Missing",
      route: "/players",
    },
  ];

  @State("missing") missingPlayers: RootState["missing"];
  @Action loadMissing;

  playerClicked(player: { nbaid: number; name: string }) {
    this.dialog = true;
    this.matching = player;
  }

  mounted() {
    this.$store.dispatch("loadMissing");
  }
}
</script>
