<template>
  <v-snackbar color="red" v-model="show" timeout="5000">
    {{ text }}

    <template v-slot:action="{ attrs }">
      <v-btn text v-bind="attrs" @click="show = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class ErrorBar extends Vue {
  @Prop(Boolean) value!: boolean;
  @Prop(String) text!: string;

  get show(): boolean {
    return this.value;
  }

  set show(value) {
    this.$emit("input", value);
  }
}
</script>
