<template>
  <v-container>
    <v-data-table
      v-model="selected"
      show-select
      :headers="headers"
      :items="results"
      item-key="gid"
      :search="search"
      :items-per-page="25"
      :single-select="true"
    >
      <template v-slot:item.data-table-select="item">
        <v-switch
          @change="activeToggled(item)"
          v-model="item.isSelected"
        ></v-switch>
      </template>
      <template v-slot:top>
        <v-row justify="center" align="center">
          <v-btn :disabled="!canSave" color="primary" @click="saveChanges"
            >Save</v-btn
          ><v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            label="Search Players"
          ></v-text-field> </v-row
      ></template>
      <template v-slot:item.team="item">
        <TeamChip :team="item.item.team"></TeamChip>
      </template>
    </v-data-table>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import TeamChip from "@/components/TeamChip.vue";
import { namespace } from "vuex-class";
import { PlayerResults } from "@/models/games";
import type { ActionMethod } from "vuex";

const games = namespace("games");

interface TableItem {
  isSelected: boolean;
  item: PlayerResults;
}

interface Modification {
  active: boolean;
}

interface ModificationPlayer {
  gid: number;
  active: boolean;

}

interface ModificationPayload {
  date: string;
  update: {
    players: Array<ModificationPlayer>
  };

}

@Component({
  components: {
    TeamChip,
  },
})
export default class GameResultsTable extends Vue {
  @games.State results!: Array<PlayerResults>;
  @games.State date!: string;
  @games.Action updateActive!: ActionMethod;

  search = "";

  canSave = false;

  headers = [
    { text: "Name", value: "name" },
    { text: "Team", value: "team" },
    { text: "Pos", value: "pos" },
    { text: "Salary", value: "salary" },
    { text: "Prediction", value: "pred" },
    { text: "FDP", value: "fpts" },
    { text: "Min", value: "min" },
    { text: "Pts", value: "pts" },
    { text: "Reb", value: "reb" },
    { text: "Ast", value: "ast" },
    { text: "Blk", value: "blk" },
    { text: "Stl", value: "stl" },
    { text: "TO", value: "to" },
  ];

  selected: Array<PlayerResults> = [];

  modifications: {[key: number]: Modification} = {};

  activeToggled(item: TableItem) {
    const nowActive = item.isSelected;
    const gid = item.item.gid;
    if (
      gid in this.modifications &&
      this.modifications[gid].active != nowActive
    ) {
      delete this.modifications[gid];
    } else {
      this.modifications[gid] = {
        active: nowActive,
      };
    }
    this.canSave = Object.keys(this.modifications).length > 0;
  }

  saveChanges() {
    if (!this.canSave) {
      return;
    }
    const payload : ModificationPayload = {
      date: this.date,
      update: {
        players: []
      }
    };
    for(const gid in this.modifications) {
      payload.update.players.push({
        gid: Number(gid),
        active: this.modifications[gid].active,
      });
    }
    this.updateActive(payload).then(() => {
      this.modifications = {};
      this.canSave = false;
    });
  }

  @Watch("results")
  onResultsChanged(newResults: Array<PlayerResults>) {
    this.selected = newResults.filter((r) => r.active);
  }
}
</script>
