<template>
  <v-container>
    <v-data-iterator :items="lineups">
      <template v-slot:default="props">
        <v-row>
          <v-col
            v-for="lineup in props.items"
            :key="lineup.id"
            cols="12"
            sm="6"
            md="6"
            lg="6"
          >
            <v-card>
              <v-card-title>
                {{ lineup.contest.name }}
                <v-spacer></v-spacer>
                <v-btn @click="openDialog(lineup)" color="primary" text
                  ><v-icon>mdi-refresh</v-icon></v-btn
                >
              </v-card-title>
              <v-card-subtitle>
                {{ lineup.contest.entries }} Entries, ${{ lineup.contest.cost }}
                Fee
              </v-card-subtitle>

              <v-data-table
                :headers="headers"
                :items="lineup.players"
                :items-per-page="lineup.players.length"
                hide-default-footer
              >
                <template v-slot:item.name="item">
                  {{ item.item.name
                  }}<v-chip color="red" v-if="!item.item.active" x-small
                    >OUT</v-chip
                  >
                </template>
              </v-data-table>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-item>
                  <v-list-item-content>Predicted</v-list-item-content>
                  <v-list-item-content>{{
                    lineup.expected
                  }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>Actual</v-list-item-content>
                  <v-list-item-content>{{ lineup.actual }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>Won</v-list-item-content>
                  <v-list-item-content
                    >${{ lineup.winnings }}</v-list-item-content
                  >
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
    <TriggerRunDialog
      v-model="dialog"
      :lineup="dialogLineup"
      :date="date"
    ></TriggerRunDialog>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";
import { Lineup } from "@/models/games";
import TriggerRunDialog from "@/components/TriggerRunDialog.vue";
import type { ActionMethod } from "vuex";

const games = namespace("games");

@Component({
  components: {
    TriggerRunDialog,
  },
})
export default class GameLineups extends Vue {
  @games.State lineups!: Array<Lineup>;
  @games.State date!: string;
  @games.Action createLineup!: ActionMethod;

  dialog = false;
  dialogLineup: Lineup | null = null;


  headers = [
    { text: "Name", value: "name" },
    { text: "Pos", value: "pos" },
    { text: "Salary", value: "salary" },
    { text: "Prediction", value: "pred" },
    { text: "FDP", value: "fpts" },
  ];

  openDialog(lineup: Lineup | null) {
    this.dialogLineup = lineup;
    this.dialog = true;
  }
}
</script>
