<template>
  <v-dialog v-model="show" max-width="500">
    <v-card>
      <v-card-title> Match: {{ name }} </v-card-title>
      <v-card-text>
        <v-data-iterator :items="players" :search="search" :page="page">
          <template v-slot:header>
            <v-text-field
              v-model="search"
              clearable
              flat
              prepend-inner-icon="mdi-magnify"
            ></v-text-field>
          </template>

          <template v-slot:default="props">
            <v-list-item
              v-for="prop in props.items"
              :key="prop.gid"
              @click.stop="match(prop.gid)"
            >
              <v-list-item-content>{{ prop.name }}</v-list-item-content>
            </v-list-item>
          </template>
        </v-data-iterator>
      </v-card-text>

      <v-card-actions>
        <v-btn @click.stop="close()" text>Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Player } from "@/models/players";
import { MissingPlayersQuery } from "@/generated/graphql";

type MissingPlayer = MissingPlayersQuery["missingPlayers"][0];

@Component({})
export default class MatchMissingDialog extends Vue {
  @Prop(Boolean) value!: boolean;
  @Prop(String) name!: string;
  @Prop(Number) nbaid!: number;

  search = "";
  page = 1;

  get players(): Array<Player> {
    return this.$store.state.matching;
  }

  get show(): boolean {
    return this.value;
  }

  set show(value) {
    this.$emit("input", value);
  }

  mounted() {
    this.$store.dispatch("loadMatching");
  }

  close() {
    this.search = "";
    this.page = 1;
    this.show = false;
  }

  match(gid: number) {
    this.$store
      .dispatch("matchPlayers", {
        gid: gid,
        nbaid: this.nbaid,
      })
      .then(() => this.close());
  }
}
</script>
