<template>
  <v-card>
    <v-card-title>Model {{ model.id }}</v-card-title>
    <v-card-subtitle
      ><v-chip small color="secondary" v-if="model.active"
        >Active</v-chip
      ></v-card-subtitle
    >
    <v-card-text>
      <v-list dense>
        <v-list-item>
          <v-list-item-content>
            Total Predictions
          </v-list-item-content>
          <v-list-item-action>
            {{ model.stats.count }}
          </v-list-item-action>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            Skew
          </v-list-item-content>
          <v-list-item-action>
            {{ model.stats.skew }}
          </v-list-item-action>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            Kurtosis
          </v-list-item-content>
          <v-list-item-action>
            {{ model.stats.kurtosis }}
          </v-list-item-action>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            RMSE
          </v-list-item-content>
          <v-list-item-action>
            {{ model.stats.rmse }}
          </v-list-item-action>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            Mean Error
          </v-list-item-content>
          <v-list-item-action>
            {{ model.stats.me }}
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-card-text>
    <v-card-actions>
      <v-btn color="primary" text>By Season</v-btn>
      <v-spacer></v-spacer>

      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
      </v-btn>
    </v-card-actions>
    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>
        <v-data-table
          :headers="headers"
          :items="model.seasons"
          hide-default-footer
        ></v-data-table>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ModelInfo } from "@/models/models";

@Component({})
export default class ModelCard extends Vue {
  @Prop() model!: ModelInfo;

  headers = [
    { text: "Season", value: "season" },
    { text: "Count", value: "count" },
    { text: "Skew", value: "skew" },
    { text: "Kurtosis", value: "kurtosis" },
    { text: "RMSE", value: "rmse" },
    { text: "ME", value: "me" },
  ];

  show = false;
}
</script>
