<template>
  <v-chip
    :color="getColors(team).primary"
    :text-color="getColors(team).secondary"
    >{{ team.toUpperCase() }}</v-chip
  >
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import teamColors from "@/assets/teams.json";

interface TeamColors {
  primary: string;
  secondary: string;
}

@Component({})
export default class TeamChip extends Vue {
  @Prop(String) team!: string;

  getColors(team: string): TeamColors {
    return (teamColors as { [key: string]: TeamColors })[team];
  }
}
</script>
