<template>
  <v-dialog v-model="show" max-width="500">
    <v-card>
      <v-card-title> Launch Run </v-card-title>
      <v-card-text>
        <v-select
          v-model="selected"
          :items="contests"
          item-text="name"
          item-value="id"
        ></v-select
      ></v-card-text>

      <v-card-actions>
        <v-btn @click.stop="close()" text>Close</v-btn>
        <v-btn @click.stop="launch()" text>Start Run</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Contest } from "@/models/contests";
import { Lineup } from "@/models/games";
import { namespace } from "vuex-class";
import { CreateLineupConf } from "@/api/airflow";
import type { ActionMethod } from "vuex";

const contests = namespace("contests");
const games = namespace("games");

@Component({})
export default class TriggerRunDialog extends Vue {
  @contests.Action loadContests!: ActionMethod;
  @contests.State contests!: Array<Contest>;

  @games.Action createLineup!: ActionMethod;
  @Prop() lineup?: Lineup;
  @Prop(String) date!: string;
  @Prop(Boolean) value!: boolean;


  selected: number | null = null;


  get show(): boolean {
    return this.value;
  }

  set show(value) {
    this.$emit("input", value);
  }

  launch() {
    if(!this.selected) {
      return;
    }
    const launch: CreateLineupConf = {
      contestId: this.selected,
    }
    if(this.lineup) {
      launch.modelId = this.lineup.mid;
    }

    this.createLineup({
      date: this.date,
      conf: launch,
    });
    this.close();
  }


  mounted() {
    this.loadContests().then(() => {
      if(this.lineup) {
        const cont = this.contests.find((c) => this.lineup && (c.id == this.lineup.contest.id));
        if (cont) {
          this.selected = cont.id;
        }
      } else {
        this.selected = this.contests[0].id;
      }
    });
  }

  close() {
    this.show = false;
  }
}
</script>
