<template>
  <v-app id="inspire">
    <v-app-bar app color="primary" flat>
      <v-container class="py-0 fill-height">
        <div class="text-h4">QuinNBA</div>
        <v-icon class="text-h4" color="secondary">mdi-basketball</v-icon>
        <v-spacer></v-spacer>

        <v-btn v-for="link in links" :key="link.title" :to="link.route" text>
          {{ link.title }}
        </v-btn>

        <v-spacer></v-spacer>
      </v-container>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
      <ErrorBar v-model="isError" :text="errorText"></ErrorBar>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ErrorBar from "@/components/ErrorBar.vue";

@Component({
  components: {
    ErrorBar,
  },
})
export default class App extends Vue {
  links = [
    { title: "Home", route: "/" },
    { title: "Games", route: "/games" },
    { title: "Players", route: "/players" },
    { title: "Models", route: "/models" },
    { title: "Contests", route: "/contests" },
  ];

  get errorText(): string {
    return this.$store.state.error;
  }

  get isError(): boolean {
    return this.$store.getters.isError;
  }

  set isError(value: boolean) {
    this.$store.dispatch("clearError");
  }
}
</script>
